{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% get_providers as socialaccount_providers %}
{% providers_media_js %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'core/signup.css' %}">
</head>

<body>

<div class="login-wrap">
    <div class="login-box">
        <div class="login-title-wrap">
            <h3 class="login-title">로그인</h3>
        </div>

        <div class="panel-body">
            <form class="login" method="POST" action="">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">닉네임</label>
                    <input class="form-control"
                           name="username" type="text"/>
                </div>
                <div class="form-group">
                    <label for="{{ form.password.id_for_label }}">패스워드</label>
                    <input class="form-control" name="password" type="password"/>
                </div>
                <input type="hidden" name="next" value="{{ request.GET.next }}">
                <div class="checkbox">
                    <label>
                        <input name="remember" type="checkbox" value="Remember Me"> 아이디 기억하기(미구현)
                    </label>
                </div>
                <input class="btn btn-lg btn-success btn-block" type="submit" value="login">
                <hr/>
                <center><h4>OR</h4></center>
                <div>
                    <a class="btn btn-success my-2 my-sm-0"
                       href="{% provider_login_url 'google' method='oauth2' %}"
                       role="button">구글로 로그인하기</a>
                </div>
                <div style="padding-top: 16px;">
                    <a class="btn btn-success my-2 my-sm-0"
                       href="{% provider_login_url 'kakao' method='oauth2' %}"
                       role="button">카카오로 로그인하기</a>
                </div>
                <div style="padding-top: 16px;">
                    <a class="btn btn-success my-2 my-sm-0"
                       href="{% provider_login_url 'naver' method='oauth2' %}"
                       role="button">네이버로 로그인하기</a>
                </div>
                <hr/>
                <div>
                    <a class="button secondaryAction"
                       href="{% url 'account_reset_password' %}">{% trans "비밀번호 잊음?" %}</a>
                </div>
                <div>
                    <a class="button secondaryAction"
                       href="{% url 'account_signup' %}">{% trans "회원가입 하실래요??" %}</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>



{# 아래는 각종 url 입니다! #}
{#        {% if user.is_authenticated %}#}
{#        <li><a href="{% url 'account_email' %}">Change E-mail</a></li>#}
{#        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>#}
{#        {% else %}#}
{#        <li><a href="{% url 'account_login' %}">Sign In</a></li>#}
{#        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>#}
{#        {% endif %}#}
