@font-face {
    font-family: 'S-CoreDream-9Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-8Heavy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-7ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-1Thin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*=========================CSS==========================*/

/*div {*/
/*    border: 1px solid #cccccc;*/
/*    box-sizing: border-box;*/
/*}*/

/*----------------------------------*/

html, body {
    margin: 0; padding: 0;
}

#main-main-banner {
    width: 100%; height: 600px;
    background-color: #65799b;
}

#main-nav-wrap {
    width: 100%; height: 60px;
    display: flex;
    justify-content: center;
}

#main-nav {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

#main-right {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list div {
    margin-left: 40px;
}

.nav-list a {
    color: white;
    text-decoration: none;
    font-family: S-CoreDream-4Regular, sans-serif;
    font-size: 14px;
}

/*==============로그인 버튼==============*/

.nav-login {
    margin-left: 40px;
}

.nav-login a {
    padding: 5px 17px;
    border-radius: 100px;
    border: 1px solid white;
    box-sizing: border-box;

    color: white;
    font-family: S-CoreDream-7ExtraBold, sans-serif;
    font-size: 14px;
    text-decoration: none;
    transition-duration: 0.5s;
}

.nav-login a:hover {
    background-color: #7385a3;
}



/*==================MAIN BANNER===================*/

#main-text-wrap {
    width: 100%; height: 540px;
    display: flex;
    justify-content: center;
    background-image: url("00_main_banner.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
}

#main-text {
    width: 1200px;
}

.main-title {
    font-family: S-CoreDream-9Black, sans-serif;
    font-size: 36px;
    color: white;
    margin-top: 150px;
}

.main-title span {
    font-family: S-CoreDream-7ExtraBold, sans-serif;
    font-size: 20px;
}

.main-sub {
    font-family: S-CoreDream-3Light, sans-serif;
    font-size: 13px;
    color: white;
    margin-top: 5px;
}

#main-buttons {
    display: flex;
    margin-top: 50px;
}

#main-buttons a {
    text-decoration: none;
    font-family: S-CoreDream-7ExtraBold, sans-serif;
    font-size: 18px;
}

#main-buttons div {
    width: 130px; height: 40px;
    border-radius: 100px;
    text-align: center;
    line-height: 40px;
}

.button-login {
    border: 1px solid white;
    box-sizing: border-box;
    color: white;
    transition-duration: 0.3s;
}

.button-signup {
    background-color: white;
    color: #65799b;
    margin-left: 20px;
    transition-duration: 0.3s;
}

.button-login:hover, .button-signup:hover {
    transform: scale(1.07);
}



/*=======================시작하기====================*/


#main-starter {
    width: 1200px;
    margin: 0 auto;
}

#starter-title {
    font-family: S-CoreDream-9Black, sans-serif;
    font-size: 24px;
    text-align: center;
    color: #333333;
    margin-top: 60px;
}

#starter-list {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

#starter-list a {
    text-decoration: none;
}

.starter-unit {
    width: 278px; height: 278px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.starter-img  {
    width: 278px; height: 242px;
    background-color: #f0f7f8;
}

.starter-text {
    font-family: S-CoreDream-7ExtraBold, sans-serif;
    font-size: 16px;
    color: #333333;
}


/*======================사용설명서=======================*/


#main-explanation {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

#explanation-text {
    width: 1200px;
    padding: 30px 0 0;
    text-align: center;
    background-color: #e2eff1;
}

.explanation-title {
    font-family: S-CoreDream-9Black, sans-serif;
    font-size: 24px;
    text-align: center;
    color: #333333;
}

.explanation-context {
    margin-top: 5px;
    font-family: S-CoreDream-3Light, 'sans-serif';
    font-size: 13px;
    color: #333333;
}

#explanation-text a {
    text-decoration: none;
}

.explanation-button {
    width: 130px; height: 40px;
    margin: 25px auto;
    border-radius: 100px;
    text-align: center;
    line-height: 40px;
    background-color: #333333;
    box-sizing: border-box;

    font-family: S-CoreDream-7ExtraBold, sans-serif;
    font-size: 16px;
    color: #e2eff1;
    transition-duration: 0.5s;
}

.explanation-button:hover {
    background-color: #101010;
}

.explanation-img {
    width: 1200px;
    height: 150px;
}


/*=========================숫자========================*/


#main-number {
    width: 1200px;
    margin: 60px auto;
    display: flex;
}

.number-unit {
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.number {
    font-family: S-CoreDream-7ExtraBold, sans-serif;
    font-size: 28px;
    color: #333333;
}

.number-text {
    font-family: S-CoreDream-4Regular, sans-serif;
    font-size: 16px;
    color: #333333;
    margin-top: 5px;
}


/*=======================FOOTER=====================*/


#main-footer-wrap {
    background: #4f4f4f;
    display: flex;
    justify-content: center;
}

#main-footer {
    width: 1200px;
    color: white;
    margin-top: 30px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #707070;
}

.footer-left {
    display: flex;
}

.footer-title {
    font-family: S-CoreDream-7ExtraBold, sans-serif;
    font-size: 24px;
}

.footer-call {
    font-family: S-CoreDream-3Light, 'sans-serif';
    font-size: 13px;
    margin-top: 3px;
}

.corp-context {
    font-family: S-CoreDream-1Thin, 'sans-serif';
    font-size: 10px;
    margin: 3px 0 0 30px;
    line-height: 18px;
}

.footer-icons {
    display: flex;
    margin: 20px 0 0 30px;
}

.footer-icon-wrap {
    width: 40px; height: 40px;
    margin-right: 20px;
    border: 1px solid #b6d5e1;
    border-radius: 100px;
    text-align: center;
    line-height: 40px;
}

.footer-icon-wrap i {
    font-size: 20px;
    color: #b6d5e1;
}

.footer-right {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.footer-list {
    font-family: S-CoreDream-3Light, sans-serif;
    font-size: 11px;
}

.footer-list div {
    margin-bottom: 5px;
}

.footer-list-title {
    font-family: S-CoreDream-4Regular, sans-serif;
    font-size: 14px;
    color: #b6d5e1;
}

.footer-bottom {
    margin: 15px 0;
    text-align: center;
    font-family: S-CoreDream-1Thin, 'sans-serif';
    font-size: 12px;
    color: #b6d5e1;
}

