@font-face {
    font-family: 'S-CoreDream-9Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-8Heavy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-7ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}


/*=========================CSS==========================*/

div {
    border: 1px solid #cccccc;
    box-sizing: border-box;
}

/*----------------------------------*/

html, body {
    margin: 0; padding: 0;
}

#base-nav-wrap {
    width: 100%; height: 60px;
    background-color: #333333;
    display: flex;
    justify-content: center;
}

#base-nav {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

#base-right {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list div {
    margin-left: 40px;
}

.nav-list a {
    color: white;
    text-decoration: none;
    font-family: S-CoreDream-4Regular, sans-serif;
    font-size: 14px;
}

/*==============로그인 버튼==============*/

.nav-login {
    margin-left: 40px;
}

.nav-login a {
    padding: 5px 17px;
    border-radius: 100px;
    border: 1px solid #b6d5e1;

    color: #b6d5e1;
    font-family: S-CoreDream-7ExtraBold, sans-serif;
    font-size: 14px;
    text-decoration: none;
}

.nav-login a:hover {
    background-color: #454545;
}