{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'comp/base.css' %}?ver8">
    <script src="https://kit.fontawesome.com/5658349e28.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    {% block extra-head %}
    {% endblock %}
</head>

<body>
<div id="base-nav-wrap">
    <div id="base-nav">
        <div id="base-left">
            <div id="name"><a href="{% url 'main:main' %}">데이타덕</a></div>
        </div>

        <div id="base-right">
            <div class="nav-list">
                <div><a href="{% url 'comp:comp_list' %}">공모전</a></div>
                <div><a href="">토론방</a></div>
                <div><a href="">랭킹</a></div>
                <div><a href="">사용설명서</a></div>
                <div><a href="">공지</a></div>
            </div>
            <div class="nav-login">
                {% if user.is_authenticated %}
                    <a href="{% url 'profile' %}" class="nav-profile">프로필</a>
                    <a href="{% url 'account_logout' %}?next={{ request.path }}">로그아웃</a>
                {% else %}
                    <a href="{% url 'sign_in' %}?next={{ request.path }}">로그인</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% block main-content %}
{% endblock %}

{% block content %}
{% endblock %}

<div id="main-footer-wrap">
    <div id="main-footer">
        <div class="footer-top">
            <div class="footer-left">
                <div class="corp-name">
                    <div class="footer-title">데이터덕</div>
                    <div class="footer-call">문의 02-612-0746</div>
                </div>

                <div class="corp-overview">
                    <div class="corp-context">
                        세상이 넓다지만 지구는 좁고 나라가 많다해도 모두가 이웃. <br/>
                        가슴을 활짝 열고 대화 해보세 인류의 번영위해 행복을 위해 겨례의 앞길은 내가 <br/>
                        밝히리 희망과 꿈의 전당 외국어고교 부산외국어고교 부산외국어고교 <br/>
                        동해물과 백두산이 마르고 닮도록 하나님이 보우하사 우리 나라 만세 <br/>
                    </div>
                    <div class="footer-icons">
                        <div class="footer-icon-wrap">
                            <i class="fab fa-twitter"></i>
                        </div>
                        <div class="footer-icon-wrap">
                            <i class="fab fa-facebook-f"></i>
                        </div>
                        <div class="footer-icon-wrap">
                            <i class="fab fa-instagram"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-right">
                <div class="footer-list">
                    <div class="footer-list-title">개발자 알아보기</div>
                    <div>무언가</div>
                    <div>아무거나</div>
                    <div>적당히</div>
                    <div>들어가야함</div>
                </div>
                <div class="footer-list">
                    <div class="footer-list-title">서포터즈</div>
                    <div>기업이름</div>
                    <div>적당히</div>
                    <div>넣으면됨</div>
                </div>
                <div class="footer-list">
                    <div class="footer-list-title">리스트 이름</div>
                    <div>뭐가 될지는</div>
                    <div>모르겠지만 일단</div>
                    <div>하나 더</div>
                    <div>필요할 듯</div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            Copyright &copy;2020 Young and Rich
        </div>
    </div>
</div>
</body>
</html>