{% extends 'comp/comp_detail.html' %}


{% block content %}

    <div class="comp-detail-nav-wrap">
        <div class="comp-detail-nav-with-button">
            <div><a href="{% url 'comp:comp_overview' comp.pk %}">개요</a></div>
            <div><a href="{% url 'comp:comp_data' comp.pk %}">데이터</a></div>
            <div class="comp-detail-checked"><a href="{% url 'comp:comp_code_list' comp.pk %}">코드</a></div>
            <div><a href="{% url 'comp:comp_community_list' comp.pk %}">커뮤니티</a></div>
            <div><a href="{% url 'comp:comp_ranking' comp.pk %}">랭킹</a></div>
        </div>
    </div>


    <div class="post-wrap">
        <div class="post-top">
            <div class="post-top-left">
                <div class="post-title">{{ codepost.title }}</div>
                <div class="post-sub">
                    <div class="post-user-profile"><a href="{% url 'profile_view' codepost.user %}">{{ codepost.user.profile_set.image.url }}</a></div>
                    <div><a href="{% url 'profile_view' codepost.user %}">{{ codepost.user }}</a></div>
                    <div>|</div>
                    <div>{{ codepost.updated_at }}</div>
                    <div>|</div>
                    <div>댓글 {{ count_comment }}개</div>
                </div>
            </div>

            <div class="post-top-right">
            {% if is_post_user == 0 %}
                <form action="{% url 'comp:comp_code_update' comp.pk codepost.pk %}">
                    <input class="post-update" value="수정" type="submit">
                </form>
                <form action="{% url 'comp:comp_code_delete' comp.pk codepost.pk %}" method="post">
                    {% csrf_token %}
                    <input class="post-delete" value="삭제" type="submit">
                </form>
            {% endif %}
            </div>
        </div>

        <div class="post-bottom">
            {{ codepost.context|linebreaks }}
        </div>

        <div class="good">
            {% if is_liked %}
                <i class="fas fa-thumbs-up like" name="cdp-like-{{ codepost.id }}"></i>
            {% else %}
                <i class="far fa-thumbs-up like" name="cdp-like-{{ codepost.id }}"></i>
            {% endif %}
            <div>추천</div>
            <div id="cdp-likecount-{{ codepost.id }}">{{ codepost.like.count }}</div>
            <div>개</div>
        </div>
    </div>


{#================여기부터 코멘트====================#}

    <div class="comment-wrap">
        <div class="comment-nav">
            <div class="count_comment">총 {{ count_comment }}개의 댓글</div>

            {%  if user.is_authenticated %}
            <a href="{% url 'comp:comp_code_comment_create' comp.pk codepost.pk %}" class="create-code">
                <i class="fas fa-pen"></i>
            </a>
            {% endif %}
        </div>

        <div class="comment">
            {% for comment in comment_list %}
                <div class="comment-unit">
                    <div class="comment-profile"><a href="{% url 'profile_view' comment.user %}"><img src="{{ comment.user.profile_set.image.url }}" alt=""></a></div>

                    <div class="comment-main">
                        <div class="comment-unit-nav">
                            <div class="comment-unit-nav-left">
                                <div class="comment-user"><a href="{% url 'profile_view' comment.user %}">{{ comment.user }}</a></div>
                                <div>|</div>
                                <div>{{ comment.created_at }}</div>
                            </div>

                            <div class="comment-unit-nav-right post-top-right">
                                {% if is_post_user == 0 %}
                                    <form action="{% url 'comp:comp_code_comment_update' comp.pk codepost.pk comment.pk %}">
                                        <input class="post-update" value="수정" type="submit">
                                    </form>
                                    <form action="{% url 'comp:comp_code_comment_delete' comp.pk codepost.pk comment.pk %}" method="post">
                                        {% csrf_token %}
                                        <input class="post-delete" value="삭제" type="submit">
                                    </form>
                                {% endif %}

                                {% if user.is_authenticated %}
                                <a href="{% url 'comp:comp_code_commcomment_create' comp.pk codepost.pk comment.pk %}">
                                    <div>답글쓰기</div>
                                </a>
                                {% endif %}
                            </div>
                        </div>

                        <div class="comment-text">{{ comment.context|linebreaks }}</div>

                        <div class="good">
                            {% if comment.id in comment_likelist %}
                                <i class="fas fa-thumbs-up like" name="cdc-like-{{ comment.id }}"></i>
                            {% else %}
                                <i class="far fa-thumbs-up like" name="cdc-like-{{ comment.id }}"></i>
                            {% endif %}
                            <div>추천</div>
                            <div id="cdc-likecount-{{ comment.id }}">{{ comment.like.count }}</div>
                            <div>개</div>
                        </div>


                        {#------------여기부터 답글---------------#}

                        {% for commcomment in commcomment_list  %}
                            {% if commcomment.commcomment == comment %}
                                <div class="commcomment-wrap">
                                    <div class="comment-profile"><a href="{% url 'profile_view' comment.user %}"><img src="{{ comment.user.profile_set.image.url }}" alt=""></a></div>

                                    <div class="commcomment-main">
                                        <div class="post-top-right">
                                            <div class="comment-unit-nav-left">
                                                <div class="comment-user"><a href="{% url 'profile_view' commcomment.user %}"></a>{{ commcomment.user }}</div>
                                                <div>|</div>
                                                <div>{{ commcomment.created_at }}</div>
                                            </div>

                                            {% if is_post_user == 0 %}
                                                <form action="{% url 'comp:comp_code_commcomment_delete' comp.pk codepost.pk comment.pk commcomment.pk %}" method="post">
                                                    {% csrf_token %}
                                                    <input class="post-delete" value="삭제" type="submit">
                                                </form>
                                            {% endif %}
                                        </div>

                                        <div class="comment-text">{{ commcomment.context }}</div>

                                        <div class="good">
                                            {% if commcomment.id in comment_likelist %}
                                                <i class="fas fa-thumbs-up like" name="cdc-like-{{ commcomment.id }}"></i>
                                            {% else %}
                                                <i class="far fa-thumbs-up like" name="cdc-like-{{ commcomment.id }}"></i>
                                            {% endif %}
                                            <div>추천</div>
                                            <div id="cdc-likecount-{{ commcomment.id }}">{{ commcomment.like.count }}</div>
                                            <div>개</div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}