{% extends "comp/comp_detail.html" %}

{% block content %}
    <nav>
        <span><a href="/comp/{{ comp.id }}/overview">개요</a></span>
        <span><a href=""></a>메모</span>
        <span><a href=""></a>데이터</span>
        <span><a href=""></a>커뮤니티</span>
        <span><a href=""></a>랭킹</span>
        <span>
            <form>
                <button>join competition</button>
            </form>
        </span>
    </nav>
    <div>overview</div>
    <div class="wrap">
        <div class="left-bar">
            <ul>
                <li><a href="/comp/{{ comp.id }}/overview/description">설명</a></li>
                <li><a href="/comp/{{ comp.id }}/overview/timeline">마감기한</a></li>
                <li><a href="/comp/{{ comp.id }}/overview/prizes">상금</a></li>
                <li><a href=""></a>Code Requirements</li>
                <li><a href=""></a>Getting started</li>
                <li><a href="/comp/{{ comp.id }}/overview/evaluation">평가기준</a></li>
            </ul>
        </div>
        <div class="right">
            {{ o.overview_context }}
        </div>
    </div>
{% endblock %}