{% extends 'comp/comp_detail.html' %}

{% block content %}
    <nav>
        <span><a href="/comp/{{ comp.id }}/overview">개요</a></span>
        <span><a href="/comp/{{ comp.id }}/code">코드</a></span>
        <span><a href=""></a>데이터</span>
        <span><a href="/comp/{{ comp.id }}/community">커뮤니티</a></span>
        <span><a href="/comp/{{ comp.id }}/ranking">랭킹</a></span>
    </nav>

    <div>{{ codepost_number }}개</div>

    <div>
        <form action="" method="get">
            <input type="text" name="q" value="{{ q }}">
            <input type="submit" value="검색">
        </form>
    </div>

    <div>
        {% for code in code_list %}
            <div>
                <div><img src="{{ code.user.profile_set.image.url }}" alt=""></div>
                <a href="{% url 'comp:comp_code_detail' comp.pk code.pk %}">
                    <div>{{ code.title }}</div>
                </a>
                <div>{{ code.user.username }}</div>
                <div>{{ code.updated_at }}</div>
                <div>
                    <span id="cdp-likecount-{{ code.id }}">{{ code.like.count }}</span>
                    {% if code.id in code_likelist %}
                        <i class="fas fa-thumbs-up like" name="cdp-like-{{ code.id }}"></i>
                    {% else %}
                        <i class="far fa-thumbs-up like" name="cdp-like-{{ code.id }}"></i>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

<script>
  //좋아요 손가락
//fas: on  far:off
    $('i.fa-thumbs-up').click(function(){
  $(this).toggleClass("fas").toggleClass("far")
})

 $('i.fa-star').click(function(){
  $(this).toggleClass("fas").toggleClass("far")
})



  $('i.like').click(function(){

    var pk = $(this).attr('name').substr(9)
    var liketype=$(this).attr('name').substr(0,3)

      // cop:CodePost coc:CodeComment cdp:CodePost cdc:CodeComment
      //ex) cop-3 cdc-30
    $.ajax({
     type: "POST",
      url: "{% url 'comp:uploadlike' %}",
      data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}', 'liketype':liketype},
      dataType: "json",

      success: function(response){
          console.log(response)
        $("#"+liketype+"-likecount-"+pk).html(response.like);
      },


      error: function(request, status, error){ // 통신 실패시 - 로그인 페이지 리다이렉트
        window.location.replace("/accounts/login/")
          //alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
          },
    })
  })
</script>
{% endblock %}