{% extends "comp/comp_detail.html" %}
{% load static %}

{% block content %}
    <div class="comp-detail-nav-wrap">
        <div class="comp-detail-nav-with-button">
            <div><a href="{% url 'comp:comp_overview' comp.pk %}">개요</a></div>
            <div><a href="{% url 'comp:comp_data' comp.pk %}">데이터</a></div>
            <div class="comp-detail-checked"><a href="{% url 'comp:comp_code_list' comp.pk %}">코드</a></div>
            <div><a href="{% url 'comp:comp_community_list' comp.pk %}">커뮤니티</a></div>
            <div><a href="{% url 'comp:comp_ranking' comp.pk %}">랭킹</a></div>
        </div>
        <div class="comp-code-count">
            총 {{ codepost_number }}개의 코드
        </div>
    </div>

    <div class="comp-code-nav">
        <a href="{% url 'comp:comp_code_create' comp.pk %}" class="create-code">
            <div>작성하기</div>
        </a>
        <form action="" method="get">
            <input type="text" name="q" value="{{ q }}" class="text">
            <input type="submit" value="검색" class="push">
        </form>
    </div>

    <div class="code-list">
        {% for code in code_list %}
            {% if code.comp == comp %}
                <div class="code-unit">
                    <div class="code-img">{{ code.user.profile_set.image }}</div>
                    <div class="code-text">
                        <div class="code-title">
                            <a href="{% url 'comp:comp_code_detail' comp.pk code.pk %}">{{ code.title }}</a>
                        </div>
                        <div class="code-sub">
                            <div>{{ code.user }}</div>
                            <div>|</div>
                            <div>{{ code.updated_at }}</div>
                            <div>|</div>
                            {% for key, value in comment_dict.items %}
                                {% if key == code.pk %}
                                    <div>{{ value }}개 댓글</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
                    {% endif %}
                        <i class="far fa-thumbs-up like" name="cdp-like-{{ code.id }}"></i>
                    {% else %}
                        <i class="fas fa-thumbs-up like" name="cdp-like-{{ code.id }}"></i>
                    {% if code.id in code_likelist %}
                    <span id="cdp-likecount-{{ code.id }}">{{ code.like.count }}</span>
                <div>
        {% endfor %}
    </div>

<script>
  //좋아요 손가락
//fas: on  far:off
    $('i.fa-thumbs-up').click(function(){
  $(this).toggleClass("fas").toggleClass("far")
})

 $('i.fa-star').click(function(){
  $(this).toggleClass("fas").toggleClass("far")
})



  $('i.like').click(function(){

    var pk = $(this).attr('name').substr(9)
    var liketype=$(this).attr('name').substr(0,3)

      // cop:CodePost coc:CodeComment cdp:CodePost cdc:CodeComment
      //ex) cop-3 cdc-30
    $.ajax({
     type: "POST",
      url: "{% url 'comp:uploadlike' %}",
      data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}', 'liketype':liketype},
      dataType: "json",

      success: function(response){
          console.log(response)
        $("#"+liketype+"-likecount-"+pk).html(response.like);
      },


      error: function(request, status, error){ // 통신 실패시 - 로그인 페이지 리다이렉트
        window.location.replace("/accounts/login/")
          //alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
          },
    })
  })
</script>
{% endblock %}