{% extends 'comp/base.html' %}
{% load static %}

{% block extra-head %}
    <link rel="stylesheet" href="{% static 'comp/comp_list.css' %}?8">
{% endblock %}


{% block main-content %}

    <div id="comp-main-wrap">
        <div id="comp-main">
            <div class="comp-main-title">공모전</div>
            <div class="comp-main-sub">기업이 제공하는 데이터로 진행되는 공모전입니다.</div>

            <div class="comp-main-icons">
                <div class="team">
                    <div class="icon-wrap">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="icon-text">1,329팀</div> <!--view에서 넘겨줘야함-->
                </div>
                <div class="prize">
                    <div class="icon-wrap">
                        <i class="fas fa-won-sign"></i>
                    </div>
                    <div class="icon-text">상금 320만원</div>
                </div>
            </div>
        </div>
    </div>

    <div id="comp-main-nav-wrap">
        <div class="comp-main-nav">
            <div class="comp-main-checked"><a href="">전체</a></div>
            <div><a href="">진행</a></div>
            <div><a href="">완료</a></div>
        </div>
        <div class="comp-main-count">
            총 {{ comp_number }}개의 공모전
        </div>
    </div>

{#    <form action="" method="get">#}
{#        <input type="text" name="q" value="{{ q }}">#}
{#        <input type="submit" value="검색">#}
{#    </form>#}

    <div id="comp-list-wrap">
        {% for comp in comp_list %}

            <div class="comp-unit">
                <div class="comp-unit-left">
                    <div class="comp-thumb"><img src="" alt=""></div>

                    <div class="comp-unit-text">
                        <div class="comp-unit-title"><a href="{% url 'comp:comp_overview' comp.pk %}">{{ comp.title }}</a></div>
                        <div class="comp-unit-context">{{ comp.context }}</div>

                        <div class="comp-unit-icons">
                            <div class="comp-unit-team">
                                <i class="fas fa-user"></i>
                                <div class="comp-unit-icon-text">30팀 참여 중</div> <!--view-->
                            </div>
                            <div class="comp-unit-prize">
                                <i class="fas fa-won-sign"></i>
                                <div class="comp-unit-icon-text">상금 {{ comp.prize }}만원</div>
                            </div>
                        </div>

                        {% for key, percent in comp_deadline_dict.items %}
                            {% if key == comp.pk %}
                                <div class="deadline">
                                    <div class="list-percent">
                                        <div class="list-bar"></div>
                                        <div>
                                            <span class="percent-value">{{ percent }}</span><span class="percent-sign">%</span>
                                            <div class="deadline-text">{{ comp.deadline }} 마감</div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <script>
                                //var percentValue = parseFloat(document.querySelectorAll(".percent-value").innerText);
                                var percentValue_lst = document.querySelectorAll(".percent-value");
                                var percentBar = document.querySelectorAll(".list-bar");
                                var percentValue;
                                for(var i = 0; i < percentValue_lst.length; i++){
                                    percentValue = parseFloat(percentValue_lst[i].innerText);
                                    percentBar[i].style = `width : ${percentValue}%`;
                                }
                            </script>
                        {% endfor %}
                    </div>
                </div>

                <div class="comp-unit-right">
                    <div class="stars">
                        {% if comp.id in star_list %}
                            <i class="fas fa-star" name="compstar-{{ comp.pk }}"></i>
                        {% else %}
                            <i class="far fa-star" name="compstar-{{ comp.pk }}"></i>
                        {% endif %}

                    </div>

                    <a href="">
                        <div class="comp-unit-button">참여하기</div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

<script>


    var percentValue = parseFloat(document.querySelector(".percent-value").innerText);
    var percentBar = document.querySelector(".list-bar");
    percentBar.style = `width : ${percentValue}%`;
    console.log(percentValue);
</script>

{% endblock %}
