{% extends 'comp/comp_detail.html' %}

{% block content %}
    <nav>
        <span><a href="/comp/{{ comp.id }}/overview">개요</a></span>
        <span><a href="/comp/{{ comp.id }}/code">코드</a></span>
        <span><a href=""></a>데이터</span>
        <span><a href="/comp/{{ comp.id }}/community">커뮤니티</a></span>
        <span><a href="/comp/{{ comp.id }}/ranking">랭킹</a></span>
        <span>
            <form action="{% url 'comp:comp_community_post_create' comp.pk %}">
                <input type="submit" value="작성">
            </form>
        </span>
    </nav>



    <div>{{ compost_number }}개</div>

    <div>
        <form action="" method="get">
            <input type="text" name="q" value="{{ q }}">
            <input type="submit" value="검색">
        </form>
    </div>

    <div>
        {% for post in compost_list %}
            <div>
                <div><img src="{{ post.user.profile_set.image.url }}" alt=""></div>
                <a href="{% url 'comp:comp_community_detail' post.comp.pk post.pk %}">
                    <div>{{ post.title }}</div>
                </a>
                <div>{{ post.user.username }}</div>
                <div>{{ post.updated_at }}</div>
                {% for key, value in dict.items %}
                    {% if key == post.id %}
                        <div>{{ value }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}