<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .percent {
            /* deletable */
            margin-top: 100px;
            margin-left: 100px;
            /* -------- */

            width: 300px;
            height: 30px;
            border: 1px solid black;
        }

        .bar {
            height: 30px;
            background-color: black;

        }
        .fas {color: hotpink}
        .fa-star{color:yellow}
        i {cursor:pointer}
    </style>


       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />

        <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
<div>
    {{ comp.title }}
    {{ comp.context }}
    {{ comp.user.nickname }}
    {{ comp.team_number }}
    {{ comp.prize }}
</div>

{% block content %}
{% endblock %}

</body>
</html>