{% extends "comp/comp_detail.html" %}

{% block content %}
    <nav>
        <span><a href=""></a>overview</span>
        <span><a href=""></a>data</span>
        <span><a href=""></a>discussion</span>
        <span><a href=""></a>leaderboard</span>
        <span>
            <form>
                <button>join competition</button>
            </form>
        </span>
    </nav>
    <div>overview</div>
    <div class="wrap">
        <div class="left-bar">
            <ul>
                <li><a href=""></a>Description</li>
                <li><a href=""></a>Timeline</li>
                <li><a href=""></a>Prizes</li>
                <li><a href=""></a>Code Requirements</li>
                <li><a href=""></a>Getting started</li>
                <li><a href=""></a>Evaluation</li>
            </ul>
        </div>
        <div class="right">

            <ul>
                {% if prize_list %}
                    {% for prize in prize_list %}
                        <li>{{ p.prize }}</li>
                    {% endfor %}
                {% else %}
                    <li>Sorry, no prize in this competition.</li>
                {% endif %}
            </ul>
        </div>

    </div>
{% endblock %}
