{% extends "comp/comp_detail.html" %}
{% load static %}

{% block content %}
    <div class="comp-detail-nav-wrap">
        <div class="comp-detail-nav-with-button">
            <div><a href="{% url 'comp:comp_overview' comp.pk %}">개요</a></div>
            <div><a href="{% url 'comp:comp_data' comp.pk %}">데이터</a></div>
            <div><a href="{% url 'comp:comp_code_list' comp.pk %}">코드</a></div>
            <div class="comp-detail-checked"><a href="{% url 'comp:comp_community_list' comp.pk %}">커뮤니티</a></div>
            <div><a href="{% url 'comp:comp_ranking' comp.pk %}">랭킹</a></div>
        </div>
    </div>



    <div class="post-wrap">
        <div class="post-top">
            <div class="post-top-left">
                <div class="post-title">{{ compost.title }}</div>
                <div class="post-sub">
                    <div class="post-user-profile">{{ compost.user.profile_set.image.url }}</div>
                    <div>{{ compost.user }}</div>
                    <div>|</div>
                    <div>{{ compost.updated_at }}</div>
                    <div>|</div>
                    <div>댓글 {{ count_comment }}개</div>
                </div>
            </div>

            <div class="post-top-right">
            {% if is_post_user == 0 %}
                <a href="{% url 'comp:comp_community_post_update' comp.pk compost.pk %}">
                    <div class="post-update">수정</div>
                </a>
                <a href="{% url 'comp:comp_community_post_delete' comp.pk compost.pk %}">
                    <div class="post-delete">삭제</div>
                </a>
            {% endif %}
            </div>
        </div>

        <div class="post-bottom">
            {{ compost.context|linebreaks }}
        </div>
    </div>


{#================여기부터 코멘트====================#}

    <div class="comment-wrap">
        <div class="comment-nav">
            <div class="count_comment">총 {{ count_comment }}개의 댓글</div>

            <a href="{% url 'comp:comp_community_comment_create' comp.pk compost.pk %}">
                <div class="create-comment">댓글쓰기</div>
            </a>
        </div>

        <div class="comment">
            {% for comment in comment_list %}
                <div class="comment-unit">
                    <div class="comment-profile"><img src="{{ comment.user.profile_set.image.url }}" alt=""></div>

                    <div class="comment-main">
                        <div class="comment-unit-nav">
                            <div class="comment-unit-nav-left">
                                <div class="comment-user">{{ comment.user }}</div>
                                <div>|</div>
                                <div>{{ comment.created_at }}</div>
                            </div>

                            <div class="comment-unit-nav-right">
                                <a href="{% url 'comp:comp_community_commcomment_create' comp.pk compost.pk comment.pk %}">
                                    <div>답글쓰기</div>
                                </a>
                            </div>
                        </div>

                        <div class="comment-text">{{ comment.context|linebreaks }}</div>


                        {#------------여기부터 답글---------------#}
                        {% for commcomment in commcomment_list  %}
                            {% if commcomment.commcomment == comment %}
                                <div class="commcomment-wrap">
                                    <div class="comment-profile"><img src="{{ comment.user.profile_set.image.url }}" alt=""></div>

                                    <div class="commcomment-main">
                                        <div class="comment-unit-nav-left">
                                            <div class="comment-user">{{ commcomment.user }}</div>
                                            <div>|</div>
                                            <div>{{ commcomment.created_at }}</div>
                                        </div>
                                        <div class="comment-text">{{ commcomment.context }}</div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}