{% extends "comp/comp_detail.html" %}
{% load static %}

{% block content %}
    <div class="comp-detail-nav">
        <div><a href="{% url 'comp:comp_overview' comp.pk %}">개요</a></div>
        <div><a href="{% url 'comp:comp_code_list' comp.pk %}">코드</a></div>
        <div><a href="{% url 'comp:comp_data' comp.pk %}"></a>데이터</div>
        <div><a href="{% url 'comp:comp_community_list' comp.pk %}">커뮤니티</a></div>
        <div><a href="{% url 'comp:comp_ranking' comp.pk %}">랭킹</a></div>
        <form action="">
            <button type="submit">join competition</button>
        </form>
    </div>
    <div>overview</div>

    <div class="percent">
        <div class="bar"></div>
        <div>
            <!-- try changing percent value -->
            <span id="percent-value">{{ percent }}</span>%
        </div>
    </div>
    <script>
        const percentValue = parseFloat(document.querySelector("#percent-value").innerText);
        const percentBar = document.querySelector(".bar");

        percentBar.style = `width : ${percentValue}%`;
    </script>
    <div class="wrap">
        <div class="left-bar">
            <ul>
                <li><a href="/comp/{{ comp.id }}/overview/description">설명</a></li>
                <li><a href="/comp/{{ comp.id }}/overview/timeline">마감기한</a></li>
                <li><a href="/comp/{{ comp.id }}/overview/prizes">상금</a></li>
                <li><a href="/comp/{{ comp.id }}/overview/evaluation">평가기준</a></li>
            </ul>
        </div>
        <div class="right">
            {{ comp.overview_context }}
        </div>
    </div>
{% endblock %}