{% extends "comp/comp_detail.html" %}
{% load static %}

{% block content %}
    <div class="comp-detail-nav">
        <div><a href="{% url 'comp:comp_overview' comp.pk %}">개요</a></div>
        <div class="comp-detail-checked"><a href="{% url 'comp:comp_data' comp.pk %}">데이터</a></div>
        <div><a href="{% url 'comp:comp_code_list' comp.pk %}">코드</a></div>
        <div><a href="{% url 'comp:comp_community_list' comp.pk %}">커뮤니티</a></div>
        <div><a href="{% url 'comp:comp_ranking' comp.pk %}">랭킹</a></div>
    </div>

    <div class="data-wrap">
        <div class="data-description">
            <div class="data-title">데이터 설명</div>
            <div class="data-context">{{ comp.data_context|linebreaks }}</div>
        </div>

        <div class="data-download-wrap">
            <div class="data-down-title">데이터 다운로드</div>
            <div class="data-download">
                <div class="data-unit">
                    <div class="data-download-title">파일 목록</div>
                    <div>여기 파일 들어와야 함</div>
                </div>
                <div class="data-unit">
                    <div class="data-download-title">파일 상세</div>
                    <div>파일명, 크기, 데이터 개수 들어와야 함</div>
                </div>
                <div class="data-unit">
                    <div class="data-download-title">컬럼</div>
                    <div>컬럼명 주르륵</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}