{% extends "comp/comp_detail.html" %}

{% block content %}
    <nav>
        <span><a href="/comp/{{ o.id }}/overview"></a>개요</span>
        <span><a href=""></a>메모</span>
        <span><a href=""></a>데이터</span>
        <span><a href=""></a>커뮤니티</span>
        <span><a href=""></a>랭킹</span>
        <span>
            <form>
                <button>join competition</button>
            </form>
        </span>
    </nav>
    <div>overview</div>
    <div class="wrap">
        <div class="left-bar">
            <ul>
                <li><a href="/comp/{{ o.id }}/overview/"></a>Description</li>
                <li><a href=""></a>Timeline</li>
                <li><a href=""></a>Prizes</li>
                <li><a href=""></a>Code Requirements</li>
                <li><a href=""></a>Getting started</li>
                <li><a href=""></a>Evaluation</li>
            </ul>
        </div>
        <div class="right">
            {{ o.overview_context }}
        </div>
    </div>
{% endblock %}