<div class="post-wrap">
    <div>{{ codepost.user.profile_set.image.url }}</div>
    <div>
        <div>{{ codepost.title }}</div>
        <div>{{ codepost.context }}</div>
        <div>{{ codepost.updated_at }}</div>
        
        {% if is_post_user == 0 %}
            <form action="">
                <input type="submit" value="수정">
            </form>
            <form action="" method="post">
                {% csrf_token %}
                <input type="submit" value="삭제">
            </form>
        {% endif %}
    </div>
</div>

<div>
    <div>댓글 ({{ count_comment }})</div>
    <form action="">
        <input type="submit" value="댓글 남기기">
    </form>
    
    <div class="comment-wrap">
        {% for comment in comment_list %}
            <div class="comment">
                <img src="{{ comment.user.profile_set.image.url }}" alt="">
                <div>
                    <div>
                        <div>
                            <div>{{ comment.user.username }}</div>
                            <div>{{ comment.updated_at }}</div>
                            <div>답변</div>
                        </div>
                        
                        {% if is_post_user == 0 %}
                            <form action="">
                                <input type="submit" value="수정">
                            </form>
                            <form action="" method="post">
                                {% csrf_token %}
                                <input type="submit" value="삭제">
                            </form>
                        {% endif %}

                        <form action="">
                            <input type="submit" value="대댓글 남기기">
                        </form>
                        <div>{{ comment.context }}</div>
                        <div>---------------------------</div>
                    </div>
                    
                    <div class="commcomment-wrap">
                        {% for commcomment in commcomment_list %}
                            {% if commcomment.commcomment == comment %}
                                <div class="comment">
                                    <img src="{{ commcomment.user.profile_set.image.url }}" alt="">
                                    <div>
                                        <div>{{ commcomment.user.username }}</div>
                                        <div>{{ commcomment.updated_at }}</div>
                                        <div>답변</div>
                                    </div>

                                    {% if is_post_user == 0 %}
                                        <form action="" method="post">
                                            {% csrf_token %}
                                            <input type="submit" value="삭제">
                                        </form>
                                    {% endif %}
                                    <div>{{ commcomment.context }}</div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div>====================================</div>
        {% endfor %}
    </div>
</div>