{% extends 'comp/comp_detail.html' %}

{% block content %}
    <nav>
        <span><a href="/comp/{{ comp.id }}/overview">개요</a></span>
        <span><a href="/comp/{{ comp.id }}/code">코드</a></span>
        <span><a href=""></a>데이터</span>
        <span><a href="/comp/{{ comp.id }}/community">커뮤니티</a></span>
        <span><a href="/comp/{{ comp.id }}/ranking">랭킹</a></span>
    </nav>

    <div>{{ codepost_number }}개</div>

    <div>
        <form action="" method="get">
            <input type="text" name="q" value="{{ q }}">
            <input type="submit" value="검색">
        </form>
    </div>

    <div>
        {% for code in code_list %}
            <div>
                <div><img src="{{ code.user.profile_set.image.url }}" alt=""></div>
                <a href="{% url 'comp:comp_code_detail' comp.pk code.pk %}">
                    <div>{{ code.title }}</div>
                </a>
                <div>{{ code.user.username }}</div>
                <div>{{ code.updated_at }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}