<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <form action="{% url 'comp:create_comp' %}" method="post" accept-charset="utf-8" class="form" role="form" >
 {% csrf_token %}
    <div class="col-12">
        제목:{{ compform.title}}
    </div>
     <div>
         개요{{ compform.overview_context }}
     </div>

     <div class="col-12">
         내용:{{ compform.context }}
     </div>

     <div>
         프로필사진{{ compform.profile_thumb }}
     </div>
     <div>
         배경사진{{ compform.back_thumb }}
     </div>
     <div>
         상금 {{ compform.prize }} 원
     </div>

     <div>
         평가기준{{ compform.evaluation }}
     </div>
     <div>
         정답파일{{ compform.comp_answer }}
     </div>
<br/>
     <div>
         데이터 업로드 (여러개 업로드가능)
         <br/>{{ fileform.file_field }}
     </div>

     <div>
         데이터 설명{{ compform.data_context }}
     </div>

     <div>
         마감일{{ compform.deadline }}
     </div>

 </form>

</body>
</html>