{% extends mainpage.html %} #수현이 만들고!
{% block content %}
    <div class="wrap">
        <div class="left-bar">
            <ul>
                <li><a href="/comp/explanation/page">페이지 설명</a></li>
                <li><a href="/comp/explanation/competition">결투장이란?</a></li>
                <li><a href="/comp/explanation/FAQ">FAQ</a></li>
            </ul>
        </div>
        <div class="right">
            <h1>결투장이란?</h1>
            #결투장이란 자신이 갈고 닦은 ml실력을 한 문제에서 겨룰 수 있게 만들어놓은 장소입니다.
            #1등하면 금메달, 2등하면 은메달, 3등하면 동메달을 수여합니다.
            #비록 등수 안에 들지 못하더라도 10%안에 들경우에는 뱃지를 수여합니다.
            #뱃지가 n개이상이면 master 등급, m개 이상이면 Grand Master 등급이 됩니다.
            #지금 결투장에서 당신의 실력을 뽐내보세요!
            #(결투장 링크 필요)

        </div>
    </div>

{% endblock %}