/*div {*/
/*    border: 1px solid #cccccc;*/
/*    box-sizing: border-box;*/
/*}*/

@font-face {
    font-family: 'S-CoreDream-9Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-8Heavy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-7ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NIXGONM-Vb';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*---------------------------------------*/

html, body {
    margin: 0; padding: 0;
    height: 100%;

    background: #555273; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #555273 0%, #65799b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #555273 0%, #65799b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #555273 0%, #65799b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555273', endColorstr='#65799b', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}


.login-wrap {
    width: 1200px; height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.login-logo {
    width: 700px;
    color: white;
    padding-left: 200px;
    box-sizing: border-box;
}

.login-logo-top {
    display: flex;
    align-items: center;
}

.login-logo-top .img {
    width: 40px; height: 40px;
    margin-right: 5px;
}

.login-logo-top img {
    width: 40px; height: 40px;
}

.login-name {
    font-family: NIXGONM-Vb, sans-serif;
    font-size: 24px;
}

.login-logo-bottom {
    font-family: S-CoreDream-5Medium, sans-serif;
    font-size: 16px;
    margin-top: 5px;
}



/*=====================로그인 창=====================*/


.login-box {
    width: 500px;
    padding: 50px 70px;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: white;
}

.login-title-wrap {
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
}

.login-title {
    font-family: S-CoreDream-7ExtraBold, sans-serif;
    font-size: 28px;
    color: #333333;
}


/*-----------------입력 창들-------------*/

.panel-body {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.form-group {
    margin-top: 35px;
}

.form-group label {
    font-family: S-CoreDream-3Light, sans-serif;
    margin: 0;
    color: #333333;
    font-size: 12px;
}

.form-group input {
    border: none;
    border-bottom: 2px solid #e2eff1;
    box-shadow: none;
    border-radius: 0;
    height: 25px;
}

.form-group input:active {
    box-shadow: none;
}


/*------------로그인 버튼--------------*/

.login-button-wrap {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.login-button {
    border: none;
    border-radius: 100px;
    background-color: #e2eff1;
    width: 120px; height: 40px;
    font-family: S-CoreDream-7ExtraBold, sans-serif;
    color: #333333;
    transition-duration: 0.3s;
}

.login-button:hover {
    background-color: #d7e8eb;
}


/*-------------OR----------------*/

.login-or {
    margin: 20px 0;
    display: flex;
}

.line {
    width: 190px;
    height: 10px;
    border-bottom: 1px solid #dddddd;
}

.or {
    width: 30px;
    height: 20px;
    font-family: S-CoreDream-3Light, sans-serif;
    font-size: 12px;
    color: #dddddd;
    text-align: center;
}



/*-----------------소셜로그인--------------------*/

.social-unit {
    font-family: S-CoreDream-7ExtraBold, sans-serif;
    font-size: 13px;
}

.social-unit div {
    height: 40px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 100px;
    transition-duration: 0.3s;
}

.google, .kakao {
    color: #333333;
}

.google:hover, .kakao:hover {
    color: #333333;
    text-decoration: none;
}

.google div {
    background-color: #f7f7f7;
}

.google:hover div {
    background-color: #eeeeee;
}

.kakao div {
    background-color: #fbe300;
}

.kakao:hover div {
    background-color: #eed700;
}

.naver {
    color: white;
}

.naver:hover {
    color: white;
    text-decoration: none;
}

.naver div {
    background-color: #00c73c;
}

.naver:hover div {
    background-color: #00ab33;
}


/*------------------비밀번호 잊음?--------------------*/

.login-forgot {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.login-forgot div {
    margin-top: 3px;
    color: #707070;
}

.login-forgot a {
    font-family: S-CoreDream-3Light, sans-serif;
    font-size: 12px;
    color: #707070;
}

.login-forgot a:hover {
    color: #333333;
}
