/*div {*/
/*    border: 1px solid #cccccc;*/
/*    box-sizing: border-box;*/
/*}*/


.comp-header {
    width: 1200px; height: 250px;
    margin: 30px auto 50px;
    padding: 30px 40px;
    box-sizing: border-box;
    background-color: #e2eff1;
    color: #333333;
    display: flex;
    justify-content: space-between;
}

.comp-header-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comp-header-top {
    display: flex;
    font-family: S-CoreDream-3Light, 'sans-serif';
    font-size: 14px;
}

.comp-header-top div {
    margin-right: 5px;
}

/*========================타이틀=======================*/

.comp-header-title {
    font-family: S-CoreDream-9Black, sans-serif;
    font-size: 32px;
    margin-bottom: 5px;
}

.comp-header-context {
    font-family: S-CoreDream-3Light, sans-serif;
    font-size: 16px;
}

/*========================아이콘==========================*/

.comp-header-icons {
    display: flex;
}

.comp-header-icon-unit {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.comp-header-icon-wrap {
    width: 25px; height: 25px;
    margin-right: 5px;
    background-color: #333333;
    border-radius: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.comp-header-icon-wrap {
    color: #b6d5e1;
    font-size: 12px;
}

.comp-header-icon-text {
    font-family: S-CoreDream-7ExtraBold, sans-serif;
    font-size: 14px;
}


/*============참여하기=================*/

.comp-header-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.comp-header-right a {
    text-decoration: none;
}

.comp-header-button {
    width: 135px; height: 45px;
    border-radius: 100px;
    box-sizing: border-box;
    background-color: #333333;

    text-align: center;
    line-height: 45px;
    font-family: S-CoreDream-7ExtraBold, sans-serif;
    color: #e2eff1;
    font-size: 16px;
    transition-duration: 0.5s;
}

.comp-header-button:hover {
    background-color: #101010;
}