/*div {*/
/*    border: 1px solid #cccccc;*/
/*    box-sizing: border-box;*/
/*}*/

@font-face {
    font-family: 'S-CoreDream-9Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-8Heavy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-7ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NIXGONM-Vb';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*=======================================*/


.result-wrap {
    width: 1200px;
    margin: 50px auto;
}

.result-title {
    font-family: S-CoreDream-5Medium, sans-serif;
    font-size: 24px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eeeeee;
    color: #333333;
}

.result-title span {
    font-family: S-CoreDream-7ExtraBold, sans-serif;
    color: #b6d5e1;
}

.result-sub {
    margin: 30px 0 10px;
    font-family: S-CoreDream-7ExtraBold, sans-serif;
    font-size: 18px;
    color: #333333;
}

.past-list {
    background-color: #f7f7f7;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #eeeeee;
}

.past-unit {
    padding: 20px 0;
    border-bottom: 1px solid #cccccc;
    display: flex;
    justify-content: space-between;
}

.past-unit:first-child {
    padding-top: 0;
}

.past-unit:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.past-unit i {
    font-size: 20px;
    color: #65799b;
    margin-right: 20px;
}

.text-wrap {
    font-family: S-CoreDream-4Regular, sans-serif;
    color: #333333;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.download {
    text-decoration: none;
    color: #333333;
    font-family: S-CoreDream-7ExtraBold, sans-serif;
    font-size: 14px;
}

.download div {
    width: 140px; height: 40px;
    background-color: #e2eff1;
    border-radius: 100px;
    transition-duration: 0.3s;
    text-align: center;
    line-height: 40px;
}

.download div:hover {
    background-color: #d7e8eb;
}