{% extends "comp/base.html" %} #수현이 만들고!

{% block content %}
    <div class="wrap">
        <div class="left-bar">
            <ul>
                <li><a href="/main/explanation/page">페이지 설명</a></li>
                <li><a href="/main/explanation/competition">결투장이란?</a></li>
                <li><a href="/main/explanation/faq">FAQ</a></li>
            </ul>
        </div>
        <div class="right">
            #Data duck (데이터덕 -> 데덕)
            데이터 오리, 데이터 덕을 보는, 데이터 덕후들의 사이트
            데이터 사이언티스트들과 머신러닝을 배우고 싶어하는 사람들의 온라인 커뮤니티

            사용자들은 이 사이트를 통해 혼자서 웹기반의 data-science 모델을 찾아보고, 검색해볼 수 있고,
            다른 data scientist들과, 머신러닝을 배우는 engineer들과도 커뮤니티를 통해 협업(교육의효과) 또는 경쟁(동기부여)을 할 수 있다.

            2020년에 사이트 운영을 시작해서 현재까지 무료로 운영되고 있고, 단순히 교육목적에 국한되는 것이 아니라, 기업에게 직접 데이터를 받아와서
            공모전 형식의 결투장을 운영하고 있다.

            #한국의 캐글을 표방, 궁극적으로는 한국에서의 machine learning의 활성화를 위해 나선 최수현과 아이들.

            #집에서 machine learning을 쉽게 시작할 수 있게 만들어주는 사이트

            #지금 시작하고 싶으세요? 그렇다면 결투장을 찾으세요!
        </div>
    </div>

{% endblock %}