{% extends "main/main.html" %}
{% block content %}
    <div class="wrap">
        <div class="left-bar">
            <ul>
                <li><a href="/main/explanation/page">페이지 설명</a></li>
                <li><a href="/main/explanation/competition">결투장이란?</a></li>
                <li><a href="/main/explanation/FAQ">FAQ</a></li>
            </ul>
        </div>
        <div class="right">
            <h1>결투장이란?</h1>
            #결투장이란 자신이 갈고 닦은 machine learning실력을 하나의 문제에서 겨룰 수 있게 만들어놓은 장소, 하나의 콜로세움 입니다.
            #한 문제에서 1등을 한다면 금메달, 2등은 은메달, 3등은 동메달을 받을 수 있습니다.
            #비록 등수 안에 들지 못하더라도 50%이내의 성적일 시 (아이콘)뱃지를 수여합니다.
            #뱃지를 모아 뱃지를 n개 이상모으시면 master 등급, m개 이상을 모으시면 Grand Master 등급이 됩니다.
            #(등급에 대한 추후 보상?! 이 있다면 그게 필요)
            #지금 당장 결투장에서 당신의 실력을 뽐내보세요!
            #(결투장 링크 필요)

        </div>
    </div>

{% endblock %}