{% extends "main/main.html" %}
{% block content %}
    <div class="wrap">
        <div class="left-bar">
            <ul>
                <li><a href="/explanation/page">페이지 설명</a></li>
                <li><a href="/explanation/competition">결투장이란?</a></li>
                <li><a href="/explanation/FAQ">FAQ</a></li>
            </ul>
        </div>
        <div class="right">
            #frequently asked question
            #machine_learning 이 무엇인가요?
            (Machine_learning이란~
            #사이트 시작을 하고 싶어요 어떻게 시작할 수 있나요?
            (회원가입 후 결투장에서 겨뤄보세요)
            #문제는 풀었는데 답을 알고 싶어요
            (여기에 정답은 없다 그러나 답 제출 하면 정확도 측정을 해주고,
            메모장을 통해 사람들의 공유된 코드를 확인할 수 있음)
            #정확도 측정은 어떤 방식으로 하나요?
            (데이터)
            #다른 사람들의 답은 볼 수 없나요?
            (메모장을 통해 공유된 것들만)
            #제가 문제를 올릴 수는 없나요?
            (추후 구현)

        </div>
    </div>

{% endblock %}