{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'main/main.css' %}?ver3">
    <script src="https://kit.fontawesome.com/5658349e28.js" crossorigin="anonymous"></script>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
<div id="main-main-banner">
    <div id="main-nav-wrap">
        <div id="main-nav">
            <div id="main-left">
                <div class="nav-title">데이타덕</div>
            </div>

            <div id="main-right">
                <div class="nav-list">
                    <div><a href="{% url 'comp:comp_list' %}">공모전</a></div>
                    <div><a href="">토론방</a></div>
                    <div><a href="">랭킹</a></div>
                    <div><a href="{% url 'main:main' %}">사용설명서</a></div>
                    <div><a href="">공지</a></div>
                </div>

                <div class="nav-login">
                    {% if user.is_authenticated %}
                        <a href="{% url 'profile' %}" class="nav-profile">프로필</a>
                        <a href="{% url 'account_logout' %}?next={{ request.path }}">로그아웃</a>
                    {% else %}
                        <a href="{% url 'sign_in' %}?next={{ request.path }}">로그인</a>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

    <div id="main-text-wrap">
        <div id="main-text">
            <div class="main-title">데이타덕 <span>Data Duck</span></div>
            <div class="main-sub">
                사이트 설명 어쩌구 저쩌구 이러쿵 저러쿵 블라블라라라랄<br/>
                내용 안 중요함 디자인 상 넣은 거니까 아무거나 대충 간지나는 말 두 줄로 적기
            </div>

            <div id="main-buttons">
                {% if user.is_authenticated %}
                    <a href="{% url 'profile' %}">
                        <div class="button-login">프로필</div>
                    </a>
                    <a href="{% url 'account_logout' %}?next={{ request.path }}">
                        <div class="button-signup">로그아웃</div>
                    </a>
                {% else %}
                    <a href="{% url 'sign_in' %}?next={{ request.path }}">
                        <div class="button-login">로그인</div>
                    </a>
                    <a href="{% url 'account_signup' %}">
                        <div class="button-signup">회원가입</div>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div id="main-starter">
    <div id="starter-title">데이타덕 시작하기</div>
    <div id="starter-list">
        <a href="{% url 'comp:comp_list' %}">
            <div class="starter-unit starter-comp">
                <div class="starter-img"><img src="" alt=""></div>
                <div class="starter-text">공모전</div>
            </div>
        </a>
        <a href="">
            <div class="starter-unit starter-code">
                <div class="starter-img"><img src="" alt=""></div>
                <div class="starter-text">코드</div>
            </div>
        </a>
        <a href="">
            <div class="starter-unit starter-community">
                <div class="starter-img"><img src="" alt=""></div>
                <div class="starter-text">토론방</div>
            </div>
        </a>
        <a href="">
            <div class="starter-unit starter-ranking">
                <div class="starter-img"><img src="" alt=""></div>
                <div class="starter-text">랭킹</div>
            </div>
        </a>
    </div>
</div>

<div id="main-explanation">
    <div id="explanation-text">
        <div class="explanation-title numbers_up">데이타덕 사용설명서</div>
        <div class="explanation-context">
            쉽게 시작하는 방법 블라블라 대충 뭐 이런 거다 설명<br/>
            두 줄은 돼야 할 듯 말은 나중에 머리 돌아갈 때 정할 거다 지금은 말고
        </div>
        <a href="{% url 'main:main' %}">
            <div class="explanation-button">바로가기</div>
        </a>
        <div class="explanation-img"><img src="" alt=""></div>
    </div>
</div>

<div id="main-number" class="">
    <div class="number-unit number-user">
        <div class="number" id="count_user">432</div> <!--view에서 넘겨줘라-->
        <div class="number-text">회원</div>
    </div>
    <div class="number-unit number-corp">
        <div class="number" id="count_corp">28</div> <!--view에서 넘겨줘라-->
        <div class="number-text">기업</div>
    </div>
    <div class="number-unit number-data">
        <div class="number" id="count_data">72</div> <!--view에서 넘겨줘라-->
        <div class="number-text">데이터</div>
    </div>
    <div class="number-unit number-code">
        <div class="number" id="count_code">1,493</div> <!--view에서 넘겨줘라-->
        <div class="number-text">코드</div>
    </div>
    <div class="number-unit number-prize">
        <div class="number" id="count_prize">94,120</div> <!--view에서 넘겨줘라-->
        <div class="number-text">상금</div>
    </div>
</div>

<div id="main-footer-wrap">
    <div id="main-footer">
        <div class="footer-top">
            <div class="footer-left">
                <div class="corp-name">
                    <div class="footer-title">데이터덕</div>
                    <div class="footer-call">문의 02-612-0746</div>
                </div>

                <div class="corp-overview">
                    <div class="corp-context">
                        세상이 넓다지만 지구는 좁고 나라가 많다해도 모두가 이웃. <br/>
                        가슴을 활짝 열고 대화 해보세 인류의 번영위해 행복을 위해 겨례의 앞길은 내가 <br/>
                        밝히리 희망과 꿈의 전당 외국어고교 부산외국어고교 부산외국어고교 <br/>
                        동해물과 백두산이 마르고 닮도록 하나님이 보우하사 우리 나라 만세 <br/>
                    </div>
                    <div class="footer-icons">
                        <div class="footer-icon-wrap">
                            <i class="fab fa-twitter"></i>
                        </div>
                        <div class="footer-icon-wrap">
                            <i class="fab fa-facebook-f"></i>
                        </div>
                        <div class="footer-icon-wrap">
                            <i class="fab fa-instagram"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-right">
                <div class="footer-list">
                    <div class="footer-list-title">개발자 알아보기</div>
                    <div>무언가</div>
                    <div>아무거나</div>
                    <div>적당히</div>
                    <div>들어가야함</div>
                </div>
                <div class="footer-list">
                    <div class="footer-list-title">서포터즈</div>
                    <div>기업이름</div>
                    <div>적당히</div>
                    <div>넣으면됨</div>
                </div>
                <div class="footer-list">
                    <div class="footer-list-title">리스트 이름</div>
                    <div>뭐가 될지는</div>
                    <div>모르겠지만 일단</div>
                    <div>하나 더</div>
                    <div>필요할 듯</div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            Copyright &copy;2020 Young and Rich
        </div>
    </div>
</div>
</body>

<script>




function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");}



function count_up_number(target_frame, target_number) {

    {#this.target_frame = document.getElementById(target_frame);#}
    var memberCountConTxt = target_number;
    var target = '#' + target_frame;


    $({val: 0}).animate({val: memberCountConTxt}, {
        duration: 1000,
        step: function () {
            var num = numberWithCommas(Math.floor(this.val));
            $(target).text(num);
        },
        complete: function () {
            var num = numberWithCommas(Math.floor(this.val));
            $(target).text(num);
        }
    });
    }

function checkVisible( elm, eval ) {
    eval = eval || "object visible";
    var viewportHeight = $(window).height(), // Viewport Height
        scrolltop = $(window).scrollTop(), // Scroll Top
        y = $(elm).offset().top;
        elementHeight = $(elm).height();

    if (eval == "object visible") return ((y < (viewportHeight + scrolltop)) && (y > (scrolltop - elementHeight)));
    if (eval == "above") return ((y < (viewportHeight + scrolltop)));
}


var isVisible = false;

$(window).on('scroll',function() {
    if (checkVisible($('#main-number'))&&!isVisible) {
        count_up_number('count_user', 1300)
        count_up_number('count_corp', 22400)
        count_up_number('count_data', 500)
        count_up_number('count_code', 1600)
        count_up_number('count_prize', 222700)
        isVisible=true;
    }
});




</script>
</html>