{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'main/main.css' %}">
</head>

<body>
<div id="main-main-banner">
    <div id="main-nav-wrap">
        <div id="main-nav">
            <div id="main-left"></div>

            <div id="main-right">
                <div class="nav-list">
                    <div><a href="{% url 'comp:comp_list' %}">공모전</a></div>
                    <div><a href="">토론방</a></div>
                    <div><a href="">랭킹</a></div>
                    <div><a href="{% url 'comp:explanation_page' %}">사용설명서</a></div>
                    <div><a href="">공지</a></div>
                </div>
                <div class="nav-login">
                    <a href="">로그인</a>
                </div>
            </div>
        </div>
    </div>

    <div id="main-text-wrap">
        <div id="main-text">
            <div class="main-title">사이트 이름</div>
            <div class="main-sub">
                사이트 설명 어쩌구 저쩌구 이러쿵 저러쿵 블라블라라라랄<br />
                내용 안 중요함 디자인 상 넣은 거니까 아무거나 대충 간지나는 말 두 줄로 적기
            </div>

            <div id="main-buttons">
                <a href="">
                    <div class="button-login">로그인</div>
                </a>
                <a href="">
                    <div class="button-signup">회원가입</div>
                </a>
            </div>
        </div>
    </div>
</div>

<div id="main-starter">
    <div id="starter-title">사이트 이름 시작하기</div>
    <div id="starter-list">
        <a href="{% url 'comp:comp_list' %}">
            <div class="starter-unit starter-comp">
                <img src="" alt="">
                <div>공모전</div>
            </div>
        </a>
        <a href="">
            <div class="starter-unit starter-code">
                <img src="" alt="">
                <div>코드</div>
            </div>
        </a>
        <a href="">
            <div class="starter-unit starter-community">
                <img src="" alt="">
                <div>토론방</div>
            </div>
        </a>
        <a href="">
            <div class="starter-unit starter-ranking">
                <img src="" alt="">
                <div>랭킹</div>
            </div>
        </a>
    </div>
</div>

<div id="main-explanation">
    <div id="explanation-text">
        <div class="explanation-title">사이트 이름 사용설명서</div>
        <div class="explanation-context">
            쉽게 시작하는 방법 블라블라 대충 뭐 이런 거다 설명<br />
            두 줄은 돼야 할 듯 말은 나중에 머리 돌아갈 때 정할 거다 지금은 말고
        </div>
        <a href="">
            <div class="explanation-button">바로가기</div>
        </a>
    </div>
</div>

<div id="main-number">
    <div class="number-unit number-user">
        <div>432</div> <!--view에서 넘겨줘라-->
        <div>회원</div>
    </div>
    <div class="number-unit number-data">
        <div>72</div> <!--view에서 넘겨줘라-->
        <div>데이터</div>
    </div>
    <div class="number-unit number-code">
        <div>1,493</div> <!--view에서 넘겨줘라-->
        <div>코드</div>
    </div>
    <div class="number-unit number-prize">
        <div>94,120</div> <!--view에서 넘겨줘라-->
        <div>상금</div>
    </div>
</div>

<div id="main-footer">
    여기는 푸터 여기는 푸터 내용은 생각 좀 해보겟숨
</div>
</body>
</html>